# Genereate random passwords
#   openssl rand -base64 9

# Global settings
TIMEZONE=Europe/Kiev

# Cloudflare IP (for "trusted_proxies" and filters) and update dates: https://cloudflare.com/ips/
CLOUDFLARE_IPS="173.245.48.0/20 103.21.244.0/22 103.22.200.0/22 103.31.4.0/22 141.101.64.0/18 108.162.192.0/18 190.93.240.0/20 188.114.96.0/20 197.234.240.0/22 198.41.128.0/17 162.158.0.0/15 104.16.0.0/13 104.24.0.0/14 172.64.0.0/13 131.0.72.0/22 2400:cb00::/32 2606:4700::/32 2803:f800::/32 2405:b500::/32 2405:8100::/32 2a06:98c0::/29 2c0f:f248::/32"

# MySQL
MYSQL_ROOT_PASSWORD=your_mysql_root_pass

# Email for ACME certificate registration
CADDY_EMAIL=your@email.com

# Redirects
REDIRECTS_PORT=3001
REDIRECTS_LOGS=true  # Логирование в файл

# Plausible
PLAUSIBLE_URL=https://plausible.site.com/api/event
PLAUSIBLE_API_KEY=your_plausible_api_key

# site1
site1_db_user=your_db_user
site1_db_pass=your_db_pass
site1_db_name=your_db_name
site1_mail_user=your_email@gmail.com
site1_mail_pass=your_email_password  # https://myaccount.google.com/apppasswords

# site2
site2_db_user=your_db_user
site2_db_pass=your_db_pass
site2_db_name=your_db_name
site2_mail_user=your_email@gmail.com
site2_mail_pass=your_email_password  # https://myaccount.google.com/apppasswords
